Repository thiagotbx123/TSA_CORTEX: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript, prettier

.pre-commit-config.yaml:

# === TSA_CORTEX Pre-commit Hooks ===
# Instalar: npm install -g pre-commit && pre-commit install
# Ou usar husky: npx husky install

repos:
  # Hooks padrão de qualidade
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Remove trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Validate YAML syntax
      - id: check-json
        name: Validate JSON syntax
      - id: check-added-large-files
        args: ['--maxkb=1000']
        name: Block large files (>1MB)
      - id: detect-private-key
        name: Detect private keys
      - id: check-merge-conflict
        name: Check merge conflicts

  # TypeScript/JavaScript: ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: system
        files: \.(ts|tsx|js|jsx)$
        pass_filenames: true

      - id: typescript
        name: TypeScript Check
        entry: npx tsc --noEmit
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: prettier
        name: Prettier
        entry: npx prettier --write
        language: system
        files: \.(ts|tsx|js|jsx|json|md|yaml|yml)$
        pass_filenames: true

# Configuração
default_language_version:
  node: system

# Executar em todos os arquivos no commit
files: ''
exclude: '^(node_modules|dist|coverage)/'

refactor: improve worklog output to natural English
  src/clustering/index.ts
  src/linear/poster.ts
  src/worklog/generator.ts
  src/worklog/markdown.ts
Due: eslint, typescript, prettier

docs: update memory with output language decision
  .claude/memory.md
Due: prettier

consolidar: sessão 2024-12-22 - TSA_CORTEX completo
  .claude/memory.md
  CORTEX_Executive_Slide.html
  sessions/2024-12-22_10-00.md
  sessions/README.md
Due: prettier

feat: refactor Slack to Search API + complete setup
  .claude/memory.md
  config/default.json
  package-lock.json
  package.json
  scripts/get-google-token.js
  sessions/2025-12-22_14-00.md
  src/collectors/drive.ts
  src/collectors/linear.ts
  src/collectors/local.ts
  src/collectors/slack.ts
  src/utils/datetime.ts
Due: eslint, typescript, prettier

feat: Add SpineHub Layer 3.5 + Narrative Renderer + /worklog command
  .claude/commands/worklog.md
  .claude/memory.md
  config/default.json
  docs/ONBOARDING.md
  docs/PROMPT_LAYERS_SPEC.md
  knowledge-base/decisions/worklog-detail-level.md
  scripts/detailed-worklog.js
  scripts/get-google-token.js
  sessions/2024-12-22_09-30.md
  sessions/2024-12-22_10-00.md
  sessions/README.md
  src/cli/index.ts
  src/collectors/claude.ts
  src/collectors/index.ts
  src/collectors/slack.ts
  src/index.ts
  src/linear/index.ts
  src/linear/poster.ts
  src/spinehub/index.ts
  src/types/index.ts
  src/worklog/index.ts
  src/worklog/markdown.ts
  src/worklog/narrative.ts
Due: eslint, typescript, prettier

docs: consolidar sessão 2025-12-23
  .claude/memory.md
  knowledge-base/learnings/spinehub-narrative.md
  sessions/2025-12-23_consolidar.md
Due: prettier

feat: Improve collection and narrative generation quality
  .claude/memory.md
  analyze-channels.js
  src/collectors/claude.ts
  src/collectors/slack.ts
  src/types/index.ts
Due: eslint, typescript, prettier

docs: CRITICAL - Slack data is for context only, never quote directly
  .claude/memory.md
Due: prettier

docs: Add critical learnings for worklog generation quality
  .claude/memory.md
Due: prettier

learning: Strategic Cortex pattern documentado
  knowledge-base/learnings/strategic-cortex-pattern.md
Due: prettier

consolidar: Performance Excellence Framework v1 + session learnings
  .claude/commands/worklog.md
  .claude/memory.md
  data/spinehub.backup.json
  data/spinehub.json
  data/spinehub/raw_events_claude.json
  data/spinehub/raw_events_drive.json
  data/spinehub/raw_events_linear.json
  data/spinehub/raw_events_local.json
  data/spinehub/raw_events_slack.json
  knowledge-base/learnings/2025-12-29_construction_validation_deep_learnings.md
  knowledge-base/learnings/2025-12-29_winter_release.md
  knowledge-base/learnings/2025-12-29_winter_release_evidence_pack.md
  knowledge-base/learnings/2025-12-29_winter_release_validation.md
  knowledge-base/learnings/2026-01-05_performance_excellence_framework.md
  knowledge-base/learnings/FEATURE_VALIDATOR_LEARNINGS_20251229.md
  scripts/analyze-critical.js
  scripts/export-drive.js
  scripts/full-drive-extract.js
  scripts/linear-full-scan.js
  scripts/linear-intuit-only.js
  scripts/linear-scan-simple.js
  sessions/2026-01-05_14-00.md
  src/cli/index.ts
  src/spinehub/benchmark.ts
  src/spinehub/core.ts
  src/spinehub/entities.ts
  src/spinehub/index.ts
  src/spinehub/storage.ts
  test-spinehub.js
Due: eslint, typescript, prettier

consolidar: RFC reviews (Category + Delivery Phases)
  .claude/memory.md
  knowledge-base/learnings/2026-01-06_rfc_reviews.md
  sessions/2026-01-06_19-00.md
Due: prettier

consolidar: Winter Release Gantt + Strategic Patterns
  .claude/memory.md
  data/spinehub.json
  knowledge-base/learnings/2026-01-13_quickbooks_cross_dataset_journal_entries.md
  knowledge-base/learnings/2026-01-15_hockeystack_complete_intelligence.md
  knowledge-base/learnings/2026-01-15_strategic_patterns_consolidation.md
  sessions/2026-01-15_18-30_winter_release_gantt.md
Due: prettier

feat(sops): expand TSA_CORTEX to include SOPs and investigation
  .claude/memory.md
  .gitignore
  CLAUDE.md
  knowledge-base/api/coda.md
  knowledge-base/sops/README.md
  knowledge-base/sops/coda/atualizar-status.md
  knowledge-base/sops/linear/criar-ticket.md
Due: prettier

feat(learnings): complete CODA and Linear mapping
  knowledge-base/learnings/2026-01-26_coda_mapping_complete.md
  knowledge-base/learnings/2026-01-26_linear_mapping_complete.md
Due: prettier

consolidar: Ticket Management System v1.0
  .claude/memory.md
  knowledge-base/sops/intro-recorte.md
  knowledge-base/sops/raci-recorte.md
  knowledge-base/sops/resources-recorte.md
  knowledge-base/sops/ticket-management-system-coda.md
  knowledge-base/sops/ticket-management-system-en.md
  knowledge-base/sops/ticket-management-system.md
  sessions/2026-01-26_ticket-management-system.md
Due: prettier

consolidar: TMS v2.0 deep learning + 11 templates + corrections
  .claude/memory.md
  knowledge-base/learnings/TMS_COMPLETE_LEARNING_2026-01-27.md
  knowledge-base/sops/ticket-management-system-v2.md
  scripts/create_all_templates.js
  scripts/verify_channels.js
  sessions/2026-01-27_19-30_tms-deep-learning-consolidation.md
Due: eslint, prettier

consolidar: Full Implementation Process Playbook session
  .claude/memory.md
  sessions/2026-02-10_full-implementation-process-playbook.md
Due: prettier

consolidar: Cycle 2 audit - 8 defects found and fixed
  sessions/2026-02-10_full-implementation-process-playbook.md
Due: prettier

feat: add Full Implementation Process deliverables to repo
  deliverables/full-implementation-process/CODA_READY_PASTE.md
  deliverables/full-implementation-process/FULL_IMPLEMENTATION_PROCESS_CODA.md
  deliverables/full-implementation-process/config_implementation.yaml
  deliverables/full-implementation-process/config_sales.yaml
  deliverables/full-implementation-process/generate_playbook.py
  deliverables/full-implementation-process/requirements.txt
Due: prettier

feat: rebuild Full Implementation Process V2 in English
  deliverables/full-implementation-process/FULL_IMPLEMENTATION_PROCESS.md
  deliverables/full-implementation-process/FULL_IMPLEMENTATION_PROCESS_CODA.md
  sessions/2026-02-10_full-implementation-process-playbook.md
Due: prettier

refactor: v2.3 internal audit - cleanup, reorganize, fix critical bug
  CORTEX_Executive_Slide.html
  README.md
  data/spinehub.backup.20260108_103723.json
  knowledge-base/sops/archive/intro-recorte.md
  knowledge-base/sops/archive/raci-recorte.md
  knowledge-base/sops/archive/resources-recorte.md
  knowledge-base/sops/archive/ticket-management-system-coda.md
  knowledge-base/sops/archive/ticket-management-system-en.md
  knowledge-base/sops/archive/ticket-management-system.md
  knowledge-base/sops/linear/criar-ticket.md
  package.json
  python/bridge.py
  python/utils/slack_channels.py
  sessions/2025-12-22_09-30.md
  sessions/2025-12-22_10-00.md
  src/cli/index.ts
Due: eslint, typescript, prettier

consolidar: Internal audit v2.3 session documentation
  .claude/memory.md
  sessions/2026-02-12_internal-audit.md
Due: prettier

feat: KPI delivery tracker - DB builder + KPI tab automation
  .claude/memory.md
  scripts/DBBuilder.gs.js
  scripts/add_week_ref.py
  scripts/deploy_gs.py
  scripts/rebuild_kpi_tab.py
  sessions/2026-03-09_kpi-delivery-tracker.md
Due: eslint, prettier

feat: integrate THAIS_YASMIN tab into DB + build Thais test KPI tab
  scripts/DBBuilder.gs.js
  scripts/rebuild_kpi_thais.py
Due: eslint, prettier

fix: show 100% instead of empty when no deliveries in KPI tabs
  scripts/rebuild_kpi_tab.py
  scripts/rebuild_kpi_thais.py
Due: none

fix: enable THIAGO delivery dates + rename KPI tab reference
  scripts/DBBuilder.gs.js
  scripts/rebuild_kpi_tab.py
Due: eslint, prettier

consolidar: KPI delivery tracker session - 4 sessions complete
  .claude/memory.md
  sessions/2026-03-09_kpi-delivery-tracker.md
Due: prettier

feat: KPI dashboard integrity overhaul + drill-down + hover notes
  scripts/KPIDrillDown.gs.js
  scripts/build_drilldown_tab.py
  scripts/deploy_kpi_gs.py
  scripts/populate_kpi_notes.py
  scripts/rebuild_kpi_tab.py
  scripts/rebuild_kpi_thais.py
Due: eslint, prettier

feat: KPI S8-S10 overhaul + Thais audit + KPI Guide
  knowledge-base/KPI_RACCOONS_PLAYBOOK.md
  scripts/extract_kpi_formulas.py
  scripts/fix_effective_rate.py
  scripts/fix_kpi_notes.py
  scripts/fix_s1_s2_iferror.py
  scripts/generate_deviation_notes.py
  scripts/kpi_auth.py
  scripts/write_kpi_guide.py
Due: prettier

feat: KPI HTML dashboard with audit table, segment views, Linear ticket links
  scripts/_dashboard_data.json
  scripts/_opossum_raw.json
  scripts/_raccoons_thais.json
  scripts/kpi/AUDIT_REPORT.md
  scripts/kpi/build_html_dashboard.py
  scripts/kpi/merge_opossum_data.py
  scripts/kpi/normalize_data.py
  scripts/kpi/upload_dashboard_drive.py
  scripts/kpi/variants/build_v10_dark.py
  scripts/kpi/variants/build_v1_executive.py
  scripts/kpi/variants/build_v2_radar.py
  scripts/kpi/variants/build_v3_statistical.py
  scripts/kpi/variants/build_v4_evolution.py
  scripts/kpi/variants/build_v5_composition.py
  scripts/kpi/variants/build_v6_ranking.py
  scripts/kpi/variants/build_v7_scatter.py
  scripts/kpi/variants/build_v8_multiples.py
  scripts/kpi/variants/build_v9_waterfall.py
Due: prettier

fix: KPI data integrity — clean corrupted dates, XLSX hyperlinks, segment tabs
  scripts/_dashboard_data.json
  scripts/kpi/normalize_data.py
Due: prettier

fix: data integrity pass — 0 errors, all dates validated, PT month formats fixed
  scripts/_dashboard_data.json
  scripts/kpi/normalize_data.py
Due: prettier

feat: Team Activity tab + member summary cards for workload visibility
  scripts/kpi/build_html_dashboard.py
Due: none

fix: member card progress bars invisible (box-sizing bug) + layout audit
  scripts/kpi/build_html_dashboard.py
Due: none

fix: remove 7-day ETA tolerance — On Time = delivered on or before ETA
  scripts/_dashboard_data.json
  scripts/kpi/build_html_dashboard.py
  scripts/kpi/merge_opossum_data.py
Due: prettier

feat: KPI by Customer section, combo charts, data consolidation
  scripts/_dashboard_data.json
  scripts/kpi/build_html_dashboard.py
  scripts/kpi/normalize_data.py
Due: prettier

feat: Linear Manager — 9 tickets created, KPI data updated to 499 records
  knowledge-base/KPI_INDICADORES_EXPLICACAO.md
  scripts/_dashboard_data.json
  scripts/kpi/build_waki_dashboard.py
Due: prettier
